body {
    background: #255ea3;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    margin: auto 44px;
}

.header > h1 {
    margin: auto;
    font-size: 4.5em;
    letter-spacing: 3px;
    color: #0A3871;
}

.header > h1 > span {
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
}

.main {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn {
    border-radius: 24px;
    padding: 10px 8px;
    width: 180px;
    height: 45px;
    border: 3px solid #0A3871;
    font-size: 18px;
    font-weight: 600;
    color: #0A3871;
    transition: all .4s;
    margin: 10px;
}

.encript {
    height: 100%;
    width: 50%;
}

#texto {
    width: 100%;
    background: #FFFFFF;
    opacity: .5;
    color: #0A3871;
    border: none;
    border-radius: 20px;
    height: 500px;
    resize: none;
    padding: 13px;
    font-size: 1.5em;
}

textarea:focus {
    outline: none;
}

#texto::placeholder {
    color: #0A3871;
}

h5 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 470;
    line-height: 18px;
    letter-spacing: 2.5px;
    margin: 10px;
    text-align: center;
}

.sect___btn {
    text-align: center;
}

.btn:hover {
    background: #0A3871;
    color: #E5E5E5;
    cursor: pointer;
}

.btn_focus {
    background: #0A3871;
    color: #E5E5E5;
}

.desencript {
    width: 40%;
}

.resultado {
    height: 500px;
    background: #FFFFFF;
    opacity: .5;
    color: #0A3871;
    border: none;
    border-radius: 20px;
    padding: 13px;
    font-size: 1.5em;
    font-weight: 400;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.img__div {
    display: block;
    margin: 60px auto;
}

.foot {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.items a{
    display: flex;
    gap: 5px;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #111;
    font-size: 1.8em;
    font-weight: 400;
    
}

.icons {
    font-size: 34px;
    color: #082f5e;
    transition: all .8s;
    margin-bottom: 30px;
}

a:hover > .icons{
    transform: scale(1.2);
}



@media only screen and (max-width: 960px) {
    body {
        overflow-y: scroll;
    }
    .encript {
        width: 40%;
        height: auto;
    }

    .desencript {
        width: 40%;
        height: auto;
    }

    #texto {
    width: 100%;
    height: 350px;
    }

    .resultado {
        width: 100%;
        height: 350px;
    }

    .img__div {
        
        width: 250px;
    }
    
    .items > a span{
        display: none;
    }

}

@media only screen and (max-width: 600px){
    .header {
        text-align: center;
    }
    .header > h1 {
        font-size: 2.5em;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .encript {
        width: 82%;

    }

    .desencript {
        margin-top: 15px;
        width: 82%;

    }

    .btn {
        width: 160px;
        height: 40px;
        font-size: 16px;
        margin: 3px;
    }
    .resultado {
        width: 100%;
        height: 350px;
    }

}